/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: #1f2937; /* Dark mode background */
  color: white; /* Text color in dark mode */
}
